/* */
/* BOOTSTRAP SELECT */
.btn.btn_connect.connected.w_tickbox:after {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  content: "\e249";
  font-family: 'gd-icons' !important;
  color: #fff;
  height: 28px;
  width: 28px;
  font-size: 10px;
  text-align: center;
  line-height: 24px;
  background-color: #7fd037;
  border: 2px solid #fff;
  position: absolute;
  top: -14px;
  right: -14px;
  font-weight: bold; }

.btn.btn_connect.error.w_tickbox:after {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  content: "!";
  color: #fff;
  height: 28px;
  width: 28px;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  background-color: #eb6767;
  border: 2px solid #fff;
  position: absolute;
  top: -14px;
  right: -14px;
  font-weight: bold; }

.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Roboto, "sans serif";
  font-weight: 300;
  display: inline-block;
  font-size: 14px;
  line-height: 1.3; }
  .btn.btn_connect {
    padding: 20px 30px;
    font-size: 16px; }
    .btn.btn_connect.connected {
      background: none;
      border: 1px solid #7fd037;
      color: #7fd037;
      cursor: default;
      pointer-events: none;
      opacity: 1; }
      .btn.btn_connect.connected.w_tickbox {
        position: relative; }
    .btn.btn_connect.error {
      background: none;
      border: 1px solid #eb6767;
      color: #eb6767;
      cursor: default;
      pointer-events: none;
      opacity: 1; }
      .btn.btn_connect.error.w_tickbox {
        position: relative; }
  .btn.btn-youtube, .btn.btn-youtube:focus {
    background: #c53732;
    border-color: #c53732;
    color: #fff; }
  .btn.btn-youtube > span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 100px; }
    .btn.btn-youtube > span > i {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      font-size: 80px; }
  .btn.btn-facebook, .btn.btn-facebook:focus {
    background: #3B5996;
    border-color: #3B5996;
    color: #fff;
    padding: 20px 30px;
    font-size: 16px; }
  .btn.btn-facebook > span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 50px; }
    .btn.btn-facebook > span > i {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      font-size: 34px; }
  .btn.btn-facebook.connected {
    background: none;
    border: 1px solid #7fd037;
    color: #7fd037;
    cursor: default;
    pointer-events: none; }
  .btn.btn-outline_blue_white {
    background: none;
    border: 1px solid #fff;
    color: #fff; }
    .btn.btn-outline_blue_white:hover, .btn.btn-outline_blue_white:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #fff;
      color: #24a0d1;
      opacity: 1; }
  .btn.btn-outline_black_white {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7); }
    .btn.btn-outline_black_white:hover, .btn.btn-outline_black_white:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #fff;
      color: #000;
      opacity: 1; }
  .btn.btn-outline_white_red {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7); }
    .btn.btn-outline_white_red:hover, .btn.btn-outline_white_red:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #fff;
      color: #eb6767;
      opacity: 1; }
  .btn.btn-full_white_red {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: #eb6767; }
    .btn.btn-full_white_red:hover, .btn.btn-full_white_red:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #fff;
      border-color: #fff;
      color: #eb6767;
      opacity: 1; }
  .btn.btn-outline_blue_white_bolder {
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 400; }
    .btn.btn-outline_blue_white_bolder:hover, .btn.btn-outline_blue_white_bolder:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #fff;
      color: #24a0d1;
      opacity: 1; }
  .btn.btn-outline_fred_white_bolder {
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 400; }
    .btn.btn-outline_fred_white_bolder:hover, .btn.btn-outline_fred_white_bolder:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #fff;
      color: #ff6161;
      opacity: 1; }
  .btn.btn-white_outline_blue {
    background: #fff;
    color: #666;
    border: 1px solid #ddd; }
    .btn.btn-white_outline_blue:hover, .btn.btn-white_outline_blue:focus {
      color: #24a0d1;
      border-color: #24a0d1;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .btn.btn-grey_outline_blue {
    background: none;
    color: #666;
    border: 1px solid #666; }
    .btn.btn-grey_outline_blue:hover {
      color: #24a0d1;
      border-color: #24a0d1;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .btn.btn-grey_outline_blue:focus {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .btn.btn-green_new {
    background-color: #7fd037;
    border-color: #7fd037;
    color: #fff; }
  .btn.btn-black_new {
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    color: #fff; }
  .btn.btn-grey, .btn.btn-grey_new {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #444; }
  .btn.integration-guide {
    background-color: #728495;
    border-color: #728495;
    color: #fff; }
    .btn.integration-guide:hover {
      opacity: 0.9; }
  .btn.btn-info-box {
    background-color: #728495;
    border-color: #728495;
    color: #fff; }
    .btn.btn-info-box:hover {
      opacity: 0.9; }
  .btn.btn-blue_new {
    background-color: #24a0d1;
    border-color: #24a0d1;
    color: #fff; }
  .btn.btn-sandwich_new {
    background-color: #43a7c8;
    border-color: #43a7c8;
    color: #fff; }
  .btn.btn-metalic_new {
    background-color: #666;
    border-color: #666;
    color: #fff; }
  .btn.btn-red_new {
    background-color: #eb6767;
    border-color: #eb6767;
    color: #fff; }
  .btn.btn-metalic-outline {
    background: none;
    border-color: #dae3e5;
    color: #dae3e5; }
  .btn.btn-error {
    position: relative; }
    .btn.btn-error.disabled, .btn.btn-error[disabled], .btn.btn-error.disabled:hover, .btn.btn-error[disabled]:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      border: 1px solid #eb6767;
      color: #eb6767;
      opacity: 1; }
      .btn.btn-error.disabled .circle-outline, .btn.btn-error[disabled] .circle-outline, .btn.btn-error.disabled:hover .circle-outline, .btn.btn-error[disabled]:hover .circle-outline {
        width: 30px;
        right: 10px;
        height: 30px;
        border: 1px solid #eb6767; }
        .btn.btn-error.disabled .circle-outline > span, .btn.btn-error[disabled] .circle-outline > span, .btn.btn-error.disabled:hover .circle-outline > span, .btn.btn-error[disabled]:hover .circle-outline > span {
          line-height: 26px;
          font-size: 18px; }
  .btn.btn-grey-outline {
    background: none;
    border-color: #666;
    color: #666; }
    .btn.btn-grey-outline:hover, .btn.btn-grey-outline:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: 1;
      color: #fff;
      border-color: #666;
      background: #666; }
  .btn.btn-file img {
    height: 16px;
    width: 16px;
    margin-right: 10px; }
  .btn.btn-file.disabled, .btn.btn-file[disabled], .btn.btn-file.disabled:hover, .btn.btn-file[disabled]:hover {
    background: none;
    opacity: 1;
    border: #e6e6e6 1px solid;
    color: #444; }
  .btn.btn-file.btn_error, .btn.btn-file.btn_error:hover, .btn.btn-file.btn_error:focus, .btn.btn-file.btn_error:focus:hover {
    background-color: transparent;
    border: 1px solid #eb6767;
    color: #eb6767; }
  .btn.btn-file.inverse.disabled, .btn.btn-file.inverse[disabled], .btn.btn-file.inverse.disabled:hover, .btn.btn-file.inverse[disabled]:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.4); }
    .btn.btn-file.inverse.disabled.bolder_button, .btn.btn-file.inverse[disabled].bolder_button, .btn.btn-file.inverse.disabled:hover.bolder_button, .btn.btn-file.inverse[disabled]:hover.bolder_button {
      font-weight: 400;
      color: #fff;
      border-color: rgba(255, 255, 255, 0.8); }
      .btn.btn-file.inverse.disabled.bolder_button img, .btn.btn-file.inverse[disabled].bolder_button img, .btn.btn-file.inverse.disabled:hover.bolder_button img, .btn.btn-file.inverse[disabled]:hover.bolder_button img {
        height: 24px;
        width: 24px;
        margin-right: 10px;
        margin-top: -4px;
        margin-bottom: -4px; }
  .btn.btn-red-outline {
    background: none;
    border-color: #eb6767;
    color: #eb6767; }
    .btn.btn-red-outline:hover, .btn.btn-red-outline:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: 1;
      color: #fff;
      background: #eb6767; }
  .btn.btn-blue-outline {
    background: none;
    border-color: #24a0d1;
    color: #24a0d1; }
    .btn.btn-blue-outline:hover, .btn.btn-blue-outline:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: 1;
      color: #fff;
      background: #24a0d1; }
  .btn.btn-text {
    background: none;
    color: #999;
    border: rgba(255, 255, 255, 0) 1px solid; }
    .btn.btn-text:hover, .btn.btn-text:focus {
      -webkit-box-shadow: inset 0px 0px 194px 0px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0px 0px 194px 0px rgba(0, 0, 0, 0.1);
      text-decoration: none; }
  .btn.btn-opaque {
    opacity: 0.2; }
    .btn.btn-opaque:hover, .btn.btn-opaque:focus {
      opacity: 1; }
  .btn.btn-micro {
    padding: 4px 4px;
    font-size: 12px; }
  .btn.btn-tiny {
    padding: 6px 10px;
    font-size: 14px; }
  .btn.btn-small {
    padding: 8px 20px;
    font-size: 14px; }
  .btn.btn-normal {
    padding: 8px 30px;
    font-size: 14px; }
  .btn.w_caret {
    position: relative;
    padding-right: 40px; }
    .btn.w_caret .caret {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      right: 10px;
      color: #fff;
      border: none;
      width: inherit;
      height: inherit;
      font-size: 18px; }
      .btn.w_caret .caret:before {
        font-family: 'gd-icons' !important;
        line-height: 1;
        content: "\e913";
        display: block; }
  .btn.btn-large {
    padding: 14px 40px;
    font-size: 15px; }
  .btn:hover {
    opacity: 0.9;
    text-decoration: none; }
  .btn.btn-block {
    display: block;
    width: 100%; }
  .btn.btn-narrower.btn-file {
    margin: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    width: 70px; }
    .btn.btn-narrower.btn-file img {
      margin-right: 0; }
  .btn.disabled, .btn[disabled], .btn.disabled:hover, .btn[disabled]:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e6e6e6;
    border: #e6e6e6 1px solid;
    color: #444;
    opacity: 0.65; }
    .btn.disabled:focus, .btn[disabled]:focus, .btn.disabled:hover:focus, .btn[disabled]:hover:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #e6e6e6;
      border: #e6e6e6 1px solid;
      color: #444;
      opacity: 0.65; }
    .btn.disabled.positive_disabled, .btn[disabled].positive_disabled, .btn.disabled:hover.positive_disabled, .btn[disabled]:hover.positive_disabled {
      background-color: #7fd037;
      border-color: #7fd037;
      color: #fff; }
    .btn.disabled.btn_success, .btn.disabled.btn_success:hover, .btn.disabled.btn_success:focus, .btn.disabled.btn_success:focus:hover, .btn[disabled].btn_success, .btn[disabled].btn_success:hover, .btn[disabled].btn_success:focus, .btn[disabled].btn_success:focus:hover, .btn.disabled:hover.btn_success, .btn.disabled:hover.btn_success:hover, .btn.disabled:hover.btn_success:focus, .btn.disabled:hover.btn_success:focus:hover, .btn[disabled]:hover.btn_success, .btn[disabled]:hover.btn_success:hover, .btn[disabled]:hover.btn_success:focus, .btn[disabled]:hover.btn_success:focus:hover {
      background: none;
      border-color: #7fd037;
      color: #7fd037;
      opacity: 1; }
    .btn.disabled.negative_disabled, .btn[disabled].negative_disabled, .btn.disabled:hover.negative_disabled, .btn[disabled]:hover.negative_disabled {
      background-color: #eb6767;
      border-color: #eb6767;
      color: #fff; }
    .btn.disabled.w_events, .btn[disabled].w_events, .btn.disabled:hover.w_events, .btn[disabled]:hover.w_events {
      pointer-events: all !important; }
  .btn.btn_rounded_green, .btn.btn_rounded_green:focus {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    border: 2px solid #7fd037;
    color: #7fd037;
    font-size: 16px;
    font-weight: 400; }
    .btn.btn_rounded_green:hover, .btn.btn_rounded_green:focus:hover {
      color: #fff;
      background: #7fd037; }
  .btn.btn_rounded_grey, .btn.btn_rounded_grey:focus {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    border: 2px solid #cccccc;
    color: #cccccc;
    font-size: 16px;
    font-weight: 400; }
    .btn.btn_rounded_grey:hover, .btn.btn_rounded_grey:focus:hover {
      color: #fff;
      background: #ccc; }

.btn-square.btn-small {
  min-width: 32px;
  padding: 5px; }

.btn-circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  position: relative;
  padding: 0;
  font-size: 16px;
  line-height: 38px; }
  .btn-circle > i {
    line-height: 36px;
    font-style: normal; }
  .btn-circle.btn-small {
    padding: 0;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px; }
    .btn-circle.btn-small > i {
      line-height: 30px; }
  .btn-circle.btn-tiny {
    padding: 0;
    font-size: 18px;
    width: 24px;
    height: 24px;
    line-height: 24px; }
    .btn-circle.btn-tiny > i {
      line-height: 22px; }
  .btn-circle.btn-micro {
    padding: 0;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 16px; }
    .btn-circle.btn-micro > i {
      line-height: 18px; }
  .btn-circle.btn-large {
    padding: 0;
    line-height: 38px;
    font-size: 18px;
    width: 38px;
    height: 38px; }
    .btn-circle.btn-large > i {
      line-height: 36px; }
  .btn-circle.btn-delete {
    font-size: 28px;
    line-height: 34px; }

.btnlike-green-hollow {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
  padding: 11px 24px;
  background: none;
  border: 1px solid #7fd037;
  color: #7fd037;
  text-align: center;
  cursor: default; }
  .btnlike-green-hollow.full_width {
    display: block;
    width: 100%; }
  .btnlike-green-hollow.inline-block {
    display: inline-block; }
  .btnlike-green-hollow.smaller {
    padding: 4px 4px;
    font-size: 12px; }

.upload_image_div .btn img {
  height: 16px;
  width: 16px;
  margin-right: 10px; }
.upload_image_div .btn + a {
  margin-top: 10px;
  color: #ff9191;
  font-size: 12px;
  text-decoration: none;
  line-height: 1;
  position: relative;
  padding-left: 20px; }
  .upload_image_div .btn + a i {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    font-size: 20px; }
  .upload_image_div .btn + a:hover, .upload_image_div .btn + a:focus {
    color: #ff0000; }

.btn-file {
  position: relative;
  overflow: hidden; }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block; }

.btn_w_circle {
  border: none;
  padding: 0;
  background: none;
  box-shadow: none;
  text-align: center;
  font-size: 16px; }
  .btn_w_circle > .pseudo_circle, .btn_w_circle:focus > .pseudo_circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    font-size: 28px;
    display: inline-block;
    margin-bottom: 10px; }
    .btn_w_circle > .pseudo_circle > i, .btn_w_circle:focus > .pseudo_circle > i {
      line-height: 48px; }
  .btn_w_circle.blue, .btn_w_circle:focus.blue {
    color: #24a0d1; }
    .btn_w_circle.blue > .pseudo_circle, .btn_w_circle:focus.blue > .pseudo_circle {
      border-color: #24a0d1; }
  .btn_w_circle:hover.blue > .pseudo_circle, .btn_w_circle:focus:hover.blue > .pseudo_circle {
    background: #24a0d1;
    color: #fff; }

/*!
 * Bootstrap-select v1.8.0 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2015 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */
select.bs-select-hidden,
select.selectpicker {
  display: none !important; }

.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/ }
  .bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1; }
  .bootstrap-select > select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none; }
    .bootstrap-select > select.mobile-device {
      top: 0;
      left: 0;
      display: block !important;
      width: 100% !important;
      z-index: 2; }
  .has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48; }
  .bootstrap-select.fit-width {
    width: auto !important; }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%; }
  .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px; }

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none; }
  .bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%; }
  .bootstrap-select.form-control.input-group-btn {
    z-index: auto; }

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0; }
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right, .row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right; }
.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
  margin-bottom: 0; }
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0; }
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%; }
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed; }
  .bootstrap-select.btn-group.disabled:focus,
  .bootstrap-select.btn-group > .disabled:focus {
    outline: none !important; }
.bootstrap-select.btn-group.bs-container {
  position: absolute; }
  .bootstrap-select.btn-group.bs-container .dropdown-menu {
    z-index: 1060; }
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left; }
.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle; }
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
  width: 100%; }
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none; }
  .bootstrap-select.btn-group .dropdown-menu li {
    position: relative; }
    .bootstrap-select.btn-group .dropdown-menu li.active small {
      color: #fff; }
    .bootstrap-select.btn-group .dropdown-menu li.disabled a {
      cursor: not-allowed; }
    .bootstrap-select.btn-group .dropdown-menu li a {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .bootstrap-select.btn-group .dropdown-menu li a.opt {
        position: relative;
        padding-left: 2.25em; }
      .bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
        display: none; }
      .bootstrap-select.btn-group .dropdown-menu li a span.text {
        display: inline-block; }
    .bootstrap-select.btn-group .dropdown-menu li small {
      padding-left: 0.5em; }
  .bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: whitesmoke;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap; }
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static; }
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px; }
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px; }
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px; }

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1061; }
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none; }
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none; }
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0; }
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0; }
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto; }
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto; }
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block; }

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px; }

.bs-actionsbox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .bs-actionsbox .btn-group button {
    width: 50%; }

.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .bs-donebutton .btn-group button {
    width: 100%; }

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px; }
.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none; }

@font-face {
  font-family: 'gd-icons';
  src: url("../../fonts/gd-icons.eot?hfwxxb");
  src: url("../../fonts/gd-icons.eot?hfwxxb#iefix") format("embedded-opentype"), url("../../fonts/gd-icons.woff2?hfwxxb") format("woff2"), url("../../fonts/gd-icons.ttf?hfwxxb") format("truetype"), url("../../fonts/gd-icons.woff?hfwxxb") format("woff"), url("../../fonts/gd-icons.svg?hfwxxb#gd-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="gd-ico-"], [class*=" gd-ico-"], [class*=" icheckbox_square-"], [class^="icheckbox_square-"],
[class^="icon-chevron-"], [class*=" icon-chevron-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gd-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gd-ico-facebook:before {
  content: "\e92b"; }

.gd-ico-replay:before {
  content: "\e928"; }

.gd-ico-presenter:before {
  content: "\e929"; }

.gd-ico-download_arrow:before {
  content: "\e927"; }

.gd-ico-info_circle:before {
  content: "\e926"; }

.gd-ico-admin:before {
  content: "\e925"; }

.gd-ico-bell-slash:before {
  content: "\e923"; }

.gd-ico-bell-noslash:before {
  content: "\e924"; }

.gd-ico-play_presentation:before {
  content: "\e921"; }

.gd-ico-hand_2:before {
  content: "\e922"; }

.gd-ico-play_video:before {
  content: "\e920"; }

.gd-ico-file_dl:before {
  content: "\e91f"; }

.gd-ico-play_circle:before {
  content: "\e91e"; }

.gd-ico-youtube_logo:before {
  content: "\e91d"; }

.gd-ico-arrow-right-12:before {
  content: "\2a"; }

.gd-ico-arrow-left-12:before {
  content: "\2b"; }

.gd-ico-arrow-down-12:before {
  content: "\2c"; }

.gd-ico-arrow-up-12:before {
  content: "\2d"; }

.gd-ico-webcam:before {
  content: "\42"; }

.gd-ico-notebook-user:before {
  content: "\e16f"; }

.gd-ico-window-list-user:before {
  content: "\e19c"; }

.gd-ico-person-edit-1:before {
  content: "\e220"; }

.gd-ico-person-subtract-1:before {
  content: "\e222"; }

.gd-ico-person-subtract-2:before {
  content: "\e223"; }

.gd-ico-person-add-1:before {
  content: "\e224"; }

.gd-ico-person-add-2:before {
  content: "\e225"; }

.gd-ico-person-1:before {
  content: "\e227"; }

.gd-ico-at-sign:before {
  content: "\e239"; }

.gd-ico-check-1:before {
  content: "\e249"; }

.gd-ico-close2:before {
  content: "\e24b"; }

.gd-ico-bin-1:before {
  content: "\e24f"; }

.gd-ico-pencil-2:before {
  content: "\e29f"; }

.gd-ico-pencil-3:before {
  content: "\e2a0"; }

.gd-ico-transfer-users:before {
  content: "\e2b9"; }

.gd-ico-help-circle:before {
  content: "\e2c3"; }

.gd-ico-email-forward:before {
  content: "\e31b"; }

.gd-ico-filled-star:before {
  content: "\e386"; }

.gd-ico-lined-star:before {
  content: "\e387"; }

.gd-ico-report-problem-circle:before {
  content: "\e3ad"; }

.gd-ico-delete-1:before {
  content: "\e3ae"; }

.gd-ico-email-read-1:before {
  content: "\e3af"; }

.gd-ico-email-upload:before {
  content: "\e3b0"; }

.gd-ico-email-download:before {
  content: "\e3b2"; }

.gd-ico-email-outbox-1:before {
  content: "\e3b3"; }

.gd-ico-reply:before {
  content: "\e3b9"; }

.gd-ico-wallet:before {
  content: "\e600"; }

.gd-ico-volume2:before {
  content: "\e601"; }

.gd-ico-volume1:before {
  content: "\e602"; }

.gd-ico-voicemail:before {
  content: "\e603"; }

.gd-ico-video:before {
  content: "\e604"; }

.gd-ico-user:before {
  content: "\e605"; }

.gd-ico-upload:before {
  content: "\e606"; }

.gd-ico-unlock:before {
  content: "\e607"; }

.gd-ico-umbrella:before {
  content: "\e608"; }

.gd-ico-trash:before {
  content: "\e609"; }

.gd-ico-tools:before {
  content: "\e60a"; }

.gd-ico-timer:before {
  content: "\e60b"; }

.gd-ico-ticket:before {
  content: "\e60c"; }

.gd-ico-pencil:before {
  content: "\e60d"; }

.gd-ico-target:before {
  content: "\e60e"; }

.gd-ico-sun:before {
  content: "\e60f"; }

.gd-ico-study:before {
  content: "\e610"; }

.gd-ico-stopwatch:before {
  content: "\e611"; }

.gd-ico-star:before {
  content: "\e612"; }

.gd-ico-speaker:before {
  content: "\e613"; }

.gd-ico-signal:before {
  content: "\e614"; }

.gd-ico-shuffle:before {
  content: "\e615"; }

.gd-ico-shopbag:before {
  content: "\e616"; }

.gd-ico-share:before {
  content: "\e617"; }

.gd-ico-server:before {
  content: "\e618"; }

.gd-ico-search:before {
  content: "\e619"; }

.gd-ico-science:before {
  content: "\e61a"; }

.gd-ico-ribbon:before {
  content: "\e61b"; }

.gd-ico-repeat:before {
  content: "\e61c"; }

.gd-ico-refresh:before {
  content: "\e61d"; }

.gd-ico-refresh-cloud:before {
  content: "\e61e"; }

.gd-ico-radio:before {
  content: "\e61f"; }

.gd-ico-print:before {
  content: "\e620"; }

.gd-ico-prev:before {
  content: "\e621"; }

.gd-ico-power:before {
  content: "\e622"; }

.gd-ico-portfolio:before {
  content: "\e623"; }

.gd-ico-plus:before {
  content: "\e624"; }

.gd-ico-play:before {
  content: "\e625"; }

.gd-ico-plane:before {
  content: "\e626"; }

.gd-ico-photo-gallery:before {
  content: "\e627"; }

.gd-ico-phone:before {
  content: "\e628"; }

.gd-ico-pen:before {
  content: "\e629"; }

.gd-ico-paper-plane:before {
  content: "\e62a"; }

.gd-ico-paint:before {
  content: "\e62b"; }

.gd-ico-notebook:before {
  content: "\e62c"; }

.gd-ico-note:before {
  content: "\e62d"; }

.gd-ico-next:before {
  content: "\e62e"; }

.gd-ico-news-paper:before {
  content: "\e62f"; }

.gd-ico-musiclist:before {
  content: "\e630"; }

.gd-ico-music:before {
  content: "\e631"; }

.gd-ico-mouse:before {
  content: "\e632"; }

.gd-ico-more:before {
  content: "\e633"; }

.gd-ico-moon:before {
  content: "\e634"; }

.gd-ico-monitor:before {
  content: "\e635"; }

.gd-ico-micro:before {
  content: "\e636"; }

.gd-ico-menu:before {
  content: "\e637"; }

.gd-ico-map:before {
  content: "\e638"; }

.gd-ico-map-marker:before {
  content: "\e639"; }

.gd-ico-mail:before {
  content: "\e63a"; }

.gd-ico-mail-open:before {
  content: "\e63b"; }

.gd-ico-mail-open-file:before {
  content: "\e63c"; }

.gd-ico-magnet:before {
  content: "\e63d"; }

.gd-ico-loop:before {
  content: "\e63e"; }

.gd-ico-look:before {
  content: "\e63f"; }

.gd-ico-lock:before {
  content: "\e640"; }

.gd-ico-lintern:before {
  content: "\e641"; }

.gd-ico-link:before {
  content: "\e642"; }

.gd-ico-like:before {
  content: "\e643"; }

.gd-ico-light:before {
  content: "\e644"; }

.gd-ico-less:before {
  content: "\e645"; }

.gd-ico-keypad:before {
  content: "\e646"; }

.gd-ico-junk:before {
  content: "\e647"; }

.gd-ico-info:before {
  content: "\e648"; }

.gd-ico-home:before {
  content: "\e649"; }

.gd-ico-help2:before {
  content: "\e64a"; }

.gd-ico-help1:before {
  content: "\e64b"; }

.gd-ico-graph3:before {
  content: "\e64c"; }

.gd-ico-graph2:before {
  content: "\e64d"; }

.gd-ico-graph1:before {
  content: "\e64e"; }

.gd-ico-graph:before {
  content: "\e64f"; }

.gd-ico-global:before {
  content: "\e650"; }

.gd-ico-gleam:before {
  content: "\e651"; }

.gd-ico-glasses:before {
  content: "\e652"; }

.gd-ico-gift:before {
  content: "\e653"; }

.gd-ico-folder:before {
  content: "\e654"; }

.gd-ico-flag:before {
  content: "\e655"; }

.gd-ico-filter:before {
  content: "\e656"; }

.gd-ico-file:before {
  content: "\e657"; }

.gd-ico-expand1:before {
  content: "\e658"; }

.gd-ico-exapnd2:before {
  content: "\e659"; }

.gd-ico-edit:before {
  content: "\e65a"; }

.gd-ico-drop:before {
  content: "\e65b"; }

.gd-ico-drawer:before {
  content: "\e65c"; }

.gd-ico-download:before {
  content: "\e65d"; }

.gd-ico-display2:before {
  content: "\e65e"; }

.gd-ico-display1:before {
  content: "\e65f"; }

.gd-ico-diskette:before {
  content: "\e660"; }

.gd-ico-date:before {
  content: "\e661"; }

.gd-ico-cup:before {
  content: "\e662"; }

.gd-ico-culture:before {
  content: "\e663"; }

.gd-ico-crop:before {
  content: "\e664"; }

.gd-ico-credit:before {
  content: "\e665"; }

.gd-ico-copy-file:before {
  content: "\e666"; }

.gd-ico-config:before {
  content: "\e667"; }

.gd-ico-compass:before {
  content: "\e668"; }

.gd-ico-comment:before {
  content: "\e669"; }

.gd-ico-coffee:before {
  content: "\e66a"; }

.gd-ico-cloud:before {
  content: "\e66b"; }

.gd-ico-clock:before {
  content: "\e66c"; }

.gd-ico-check:before {
  content: "\e66d"; }

.gd-ico-chat:before {
  content: "\e66e"; }

.gd-ico-cart:before {
  content: "\e66f"; }

.gd-ico-camera:before {
  content: "\e670"; }

.gd-ico-call:before {
  content: "\e671"; }

.gd-ico-calculator:before {
  content: "\e672"; }

.gd-ico-browser:before {
  content: "\e673"; }

.gd-ico-box2:before {
  content: "\e674"; }

.gd-ico-box1:before {
  content: "\e675"; }

.gd-ico-bookmarks:before {
  content: "\e676"; }

.gd-ico-bicycle:before {
  content: "\e677"; }

.gd-ico-bell:before {
  content: "\e678"; }

.gd-ico-battery:before {
  content: "\e679"; }

.gd-ico-ball:before {
  content: "\e67a"; }

.gd-ico-back:before {
  content: "\e67b"; }

.gd-ico-attention:before {
  content: "\e67c"; }

.gd-ico-anchor:before {
  content: "\e67d"; }

.gd-ico-albums:before {
  content: "\e67e"; }

.gd-ico-alarm:before {
  content: "\e67f"; }

.gd-ico-close:before {
  content: "\e680"; }

.gd-ico-close-circle:before {
  content: "\e681"; }

.gd-ico-angle-up:before {
  content: "\e682"; }

.gd-ico-angle-up-circle:before {
  content: "\e683"; }

.gd-ico-angle-right:before {
  content: "\e684"; }

.gd-ico-angle-right-circle:before {
  content: "\e685"; }

.gd-ico-angle-left:before {
  content: "\e686"; }

.gd-ico-angle-left-circle:before {
  content: "\e687"; }

.gd-ico-angle-down:before {
  content: "\e688"; }

.gd-ico-angle-down-circle:before {
  content: "\e689"; }

.gd-ico-cloud-upload:before {
  content: "\e68a"; }

.gd-ico-cloud-download:before {
  content: "\e68b"; }

.gd-ico-cash:before {
  content: "\e68c"; }

.gd-ico-bluetooth:before {
  content: "\e68d"; }

.gd-ico-way:before {
  content: "\e68e"; }

.gd-ico-id:before {
  content: "\e68f"; }

.gd-ico-wristwatch:before {
  content: "\e690"; }

.gd-ico-world:before {
  content: "\e691"; }

.gd-ico-volume:before {
  content: "\e692"; }

.gd-ico-users:before {
  content: "\e693"; }

.gd-ico-user-female:before {
  content: "\e694"; }

.gd-ico-up-arrow:before {
  content: "\e695"; }

.gd-ico-switch:before {
  content: "\e696"; }

.gd-ico-scissors:before {
  content: "\e697"; }

.gd-ico-safe:before {
  content: "\e698"; }

.gd-ico-right-arrow:before {
  content: "\e699"; }

.gd-ico-plug:before {
  content: "\e69a"; }

.gd-ico-pin:before {
  content: "\e69b"; }

.gd-ico-paperclip:before {
  content: "\e69c"; }

.gd-ico-note2:before {
  content: "\e69d"; }

.gd-ico-network:before {
  content: "\e69e"; }

.gd-ico-mute:before {
  content: "\e69f"; }

.gd-ico-medal:before {
  content: "\e6a0"; }

.gd-ico-like2:before {
  content: "\e6a1"; }

.gd-ico-left-arrow:before {
  content: "\e6a2"; }

.gd-ico-key:before {
  content: "\e6a3"; }

.gd-ico-joy:before {
  content: "\e6a4"; }

.gd-ico-film:before {
  content: "\e6a5"; }

.gd-ico-disk:before {
  content: "\e6a6"; }

.gd-ico-delete-user:before {
  content: "\e6a7"; }

.gd-ico-bottom-arrow:before {
  content: "\e6a8"; }

.gd-ico-add-user:before {
  content: "\e6a9"; }

.gd-ico-album:before {
  content: "\e6aa"; }

.gd-ico-arc:before {
  content: "\e6ab"; }

.gd-ico-back-2:before {
  content: "\e6ac"; }

.gd-ico-bandaid:before {
  content: "\e6ad"; }

.gd-ico-car:before {
  content: "\e6ae"; }

.gd-ico-diamond:before {
  content: "\e6af"; }

.gd-ico-door-lock:before {
  content: "\e6b0"; }

.gd-ico-eyedropper:before {
  content: "\e6b1"; }

.gd-ico-female:before {
  content: "\e6b2"; }

.gd-ico-gym:before {
  content: "\e6b3"; }

.gd-ico-hammer:before {
  content: "\e6b4"; }

.gd-ico-headphones:before {
  content: "\e6b5"; }

.gd-ico-helm:before {
  content: "\e6b6"; }

.gd-ico-hourglass:before {
  content: "\e6b7"; }

.gd-ico-leaf:before {
  content: "\e6b8"; }

.gd-ico-magic-wand:before {
  content: "\e6b9"; }

.gd-ico-male:before {
  content: "\e6ba"; }

.gd-ico-map-2:before {
  content: "\e6bb"; }

.gd-ico-next-2:before {
  content: "\e6bc"; }

.gd-ico-paint-bucket:before {
  content: "\e6bd"; }

.gd-ico-pendrive:before {
  content: "\e6be"; }

.gd-ico-photo:before {
  content: "\e6bf"; }

.gd-ico-piggy:before {
  content: "\e6c0"; }

.gd-ico-plugin:before {
  content: "\e6c1"; }

.gd-ico-refresh-2:before {
  content: "\e6c2"; }

.gd-ico-rocket:before {
  content: "\e6c3"; }

.gd-ico-settings:before {
  content: "\e6c4"; }

.gd-ico-shield:before {
  content: "\e6c5"; }

.gd-ico-smile:before {
  content: "\e6c6"; }

.gd-ico-usb:before {
  content: "\e6c7"; }

.gd-ico-vector:before {
  content: "\e6c8"; }

.gd-ico-wine:before {
  content: "\e6c9"; }

.gd-ico-airplay:before {
  content: "\e6ca"; }

.gd-ico-reply2:before {
  content: "\e6cb"; }

.gd-ico-presentation:before {
  content: "\e6f6"; }

.gd-ico-clapboard-play:before {
  content: "\e6f9"; }

.gd-ico-user2:before {
  content: "\e71e"; }

.gd-ico-users2:before {
  content: "\e723"; }

.gd-ico-group-work:before {
  content: "\e726"; }

.gd-ico-bag:before {
  content: "\e74b"; }

.gd-ico-speed-medium:before {
  content: "\e835"; }

.gd-ico-barometer:before {
  content: "\e900"; }

.gd-ico-user-check:before {
  content: "\e901"; }

.gd-ico-layout:before {
  content: "\e902"; }

.gd-ico-layout2:before {
  content: "\e903"; }

.gd-ico-layout3:before {
  content: "\e904"; }

.gd-ico-layout4:before {
  content: "\e905"; }

.gd-ico-layout5:before {
  content: "\e906"; }

.gd-ico-layout6:before {
  content: "\e907"; }

.gd-ico-layout7:before {
  content: "\e908"; }

.gd-ico-layout8:before {
  content: "\e909"; }

.gd-ico-layout9:before {
  content: "\e90a"; }

.gd-ico-layout10:before {
  content: "\e90b"; }

.gd-ico-layout11:before {
  content: "\e90c"; }

.gd-ico-layout12:before {
  content: "\e90d"; }

.gd-ico-mail-checked:before {
  content: "\e90e"; }

.gd-ico-help-with-circle:before {
  content: "\e90f"; }

.gd-ico-question2:before {
  content: "\e910"; }

.gd-ico-cancel:before {
  content: "\e911"; }

.gd-ico-more_vert:before {
  content: "\e912"; }

.gd-ico-more_horiz:before {
  content: "\e913"; }

.gd-ico-pause:before {
  content: "\e914"; }

.gd-ico-playback-play:before {
  content: "\e915"; }

.gd-ico-playback-pause:before {
  content: "\e916"; }

.gd-ico-stop:before {
  content: "\e917"; }

.gd-ico-play2:before {
  content: "\e918"; }

.gd-ico-media-stop-outline:before {
  content: "\e919"; }

.gd-ico-media-stop:before {
  content: "\e91a"; }

.gd-ico-arrow-right-2:before {
  content: "\e91b"; }

.gd-ico-arrow-right-4:before {
  content: "\e91c"; }

.gd-ico-cross:before {
  content: "\e92a"; }

.gd-ico-question:before {
  content: "\e933"; }

.gd-ico-check2:before {
  content: "\e934"; }

.gd-ico-cross2:before {
  content: "\e935"; }

.gd-ico-plus2:before {
  content: "\e936"; }

.gd-ico-minus:before {
  content: "\e937"; }

.gd-ico-chevron-up:before {
  content: "\e939"; }

.gd-ico-chevron-down:before {
  content: "\e93a"; }

.gd-ico-chevron-left:before {
  content: "\e93b"; }

.gd-ico-chevron-right:before {
  content: "\e93c"; }

.gd-ico-chevrons-expand-vertical:before {
  content: "\e93d"; }

.gd-ico-arrow-up:before {
  content: "\e941"; }

.gd-ico-arrow-down:before {
  content: "\e942"; }

.gd-ico-arrow-left:before {
  content: "\e943"; }

.gd-ico-arrow-right:before {
  content: "\e944"; }

.gd-ico-notification-circle:before {
  content: "\e956"; }

.gd-ico-prohibited:before {
  content: "\e99c"; }

.gd-ico-hand:before {
  content: "\e9bf"; }

.gd-ico-cash-dollar:before {
  content: "\e75a"; }

.gd-ico-bag-dollar:before {
  content: "\e75e"; }

.gd-ico-expand:before {
  content: "\e94a"; }

.gd-ico-contract:before {
  content: "\e94b"; }

.gd-ico-expand2:before {
  content: "\e94c"; }

.gd-ico-contract2:before {
  content: "\e94d"; }

.gd-ico-lightbulb-o:before {
  content: "\f0eb"; }

.icon-chevron-up:before {
  content: "\e939"; }

.icon-chevron-down:before {
  content: "\e93a"; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  overflow: hidden; }
  body.semidark {
    background-color: transparent;
    background: none; }

::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #9fabb6; }

::-webkit-scrollbar {
  width: 6px;
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #9fabb6;
  background-color: #fff; }

button, button:focus, button:hover, a, a:focus, a:hover {
  outline: none !important; }

.wrapper {
  width: 100%;
  height: 100%; }

.webinarjamModal {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal-dialog {
  margin-top: 50px;
  width: auto;
  margin-bottom: 30px; }

@media (min-width: 660px) {
  .modal-dialog {
    margin: 100px auto 30px auto;
    width: 660px;
    padding-bottom: 30px; } }
.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  background: #f4f4f4;
  border: none; }

form {
  margin: 0; }

.modal-header {
  position: relative;
  padding: 30px 0;
  margin: 0 40px; }
  .modal-header h4 {
    font-size: 30px;
    font-weight: 300; }
  .modal-header .close {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -45px;
    margin: 0;
    right: -40px;
    opacity: 1;
    font-size: 40px;
    font-weight: 400; }
    .modal-header .close, .modal-header .close:focus {
      color: rgba(255, 255, 255, 0.4); }
      .modal-header .close:hover, .modal-header .close:focus:hover {
        color: white; }

.modal-body {
  padding: 40px 40px 30px 40px; }

.btn_register {
  font-size: 30px;
  padding: 25px 30px;
  min-height: 92px; }
  .btn_register > span {
    position: relative;
    display: inline-block;
    padding-right: 50px;
    margin-right: -50px; }
    .btn_register > span > i {
      position: absolute;
      right: 0;
      top: 4px;
      opacity: 0.5; }
    .btn_register > span.loader_div > img {
      display: block;
      margin: 12px 0px; }

small.message {
  margin-top: 15px;
  font-size: 10px;
  color: #666;
  display: block;
  text-align: center; }

.powered_by_text {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
  cursor: default; }
  .powered_by_text, .powered_by_text:focus {
    color: rgba(255, 255, 255, 0.4); }
    .powered_by_text:hover, .powered_by_text:focus:hover {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none; }

.form-group {
  position: relative;
  margin-bottom: 20px; }
  .form-group:last-of-type {
    margin-bottom: 0; }
  .form-group .asterisk {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    color: #eb6767;
    font-weight: 300; }
  .form-group > i {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 10px;
    font-size: 30px;
    color: #aaa; }
  .form-group.form-group_2_inline > .form-group {
    width: calc(50% - 10px);
    float: left;
    margin: 0; }
    .form-group.form-group_2_inline > .form-group:nth-of-type(2) {
      float: right; }
  .form-group.no_margin {
    margin-bottom: 0; }

.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  color: #000;
  border: 1px solid #e6e6e6;
  font-size: 18px;
  font-family: Roboto, "sans serif";
  font-weight: 300;
  width: 100%;
  padding: 13px 20px 13px 56px;
  background: #fff;
  height: 56px; }
  .form-control::-webkit-input-placeholder {
    color: #666; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  .form-control:-ms-input-placeholder {
    color: #666; }
  .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border-color: #adadad; }

.bootstrap-select {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none; }
  .bootstrap-select.btn-group {
    background: none; }
    .bootstrap-select.btn-group .btn {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #e0e0e0;
      color: #666;
      padding: 13px 40px 13px 0;
      text-shadow: none;
      display: inline-block;
      vertical-align: top;
      font-weight: 300;
      min-width: 100%;
      height: 56px;
      background: #fff;
      font-size: 18px; }
      .bootstrap-select.btn-group .btn.dropdown-toggle .caret {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-family: 'gd-icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        border: none;
        color: #50b8d2;
        width: 34px;
        line-height: 1;
        height: 34px;
        display: block;
        right: 10px !important;
        font-size: 34px !important;
        margin-top: -17px !important; }
        .bootstrap-select.btn-group .btn.dropdown-toggle .caret:before {
          content: "\e913"; }
      .bootstrap-select.btn-group .btn.dropdown-toggle .filter-option {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        line-height: 1;
        box-sizing: border-box;
        color: #666;
        position: relative;
        padding: 6px 10px 6px 56px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .bootstrap-select.btn-group .btn.dropdown-toggle .filter-option > i {
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
          color: #aaa;
          font-size: 30px;
          left: 10px; }
      .bootstrap-select.btn-group .btn.dropdown-toggle:focus {
        outline: none !important; }
    .bootstrap-select.btn-group .dropdown-menu.inner {
      max-height: 260px;
      overflow-y: auto; }
    .bootstrap-select.btn-group.open .btn {
      color: #333;
      border-color: #adadad; }
      .bootstrap-select.btn-group.open .btn.dropdown-toggle .filter-option {
        color: #333; }
      .bootstrap-select.btn-group.open .btn.dropdown-toggle .caret {
        color: #33A2C3; }
    .bootstrap-select.btn-group.open > .dropdown-menu {
      margin-top: 5px; }
      .bootstrap-select.btn-group.open > .dropdown-menu li a {
        white-space: normal;
        padding: 8px 10px 8px 56px;
        position: relative;
        font-size: 18px;
        font-weight: 300; }
        .bootstrap-select.btn-group.open > .dropdown-menu li a .glyphicon {
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
          color: #aaa;
          font-size: 30px;
          left: 10px; }
      .bootstrap-select.btn-group.open > .dropdown-menu li.disabled a {
        color: #bbb; }
        .bootstrap-select.btn-group.open > .dropdown-menu li.disabled a:hover, .bootstrap-select.btn-group.open > .dropdown-menu li.disabled a:focus {
          background-color: #fff;
          color: #bbb; }

.schedule_block,
.details_div {
  margin-bottom: 30px; }

.hidden_disabled {
  visibility: hidden;
  pointer-events: none;
  cursor: default; }

.price_to_attend_div {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc; }
  .price_to_attend_div h4 {
    margin: 0;
    font-size: 18px;
    color: #999;
    font-weight: 300; }
    .price_to_attend_div h4 > span {
      margin-top: 10px;
      display: block;
      font-size: 28px;
      color: #000;
      color: #666;
      font-weight: 400; }

.arrow_when {
  position: absolute;
  left: -120px;
  top: 90px;
  z-index: 10; }

.arrow_who {
  position: absolute;
  right: -130px;
  top: 235px;
  z-index: 10; }

.gdpr_block {
  margin: 0 0 10px 0; }
  .gdpr_block > div {
    margin-bottom: 30px; }
    .gdpr_block > div:last-of-type {
      margin-bottom: 30px; }
    .gdpr_block > div.gdpr_terms_block {
      position: relative;
      padding: 0 35px 0 0; }
    .gdpr_block > div > i {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -11px;
      font-size: 22px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      z-index: 1;
      left: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      color: #24a0d1; }
    .gdpr_block > div label {
      pointer-events: all;
      font-size: 16px;
      color: #000;
      position: relative;
      padding-left: 34px;
      text-transform: none;
      top: 0;
      background: none;
      line-height: 1.2;
      margin: 0;
      font-weight: 300;
      cursor: pointer; }
      .gdpr_block > div label span {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: normal;
        word-break: break-word;
        display: block; }
      .gdpr_block > div label input {
        display: none; }
        .gdpr_block > div label input[type=checkbox], .gdpr_block > div label input[type=radio] {
          margin: 0;
          position: absolute;
          right: 0;
          top: 0; }
          .gdpr_block > div label input[type=checkbox] + small, .gdpr_block > div label input[type=radio] + small {
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            border-radius: 100%;
            top: -2px;
            left: 0;
            position: absolute;
            width: 24px;
            height: 24px;
            display: block;
            background: none;
            border: 1px solid #b4b4b4;
            margin: 0;
            -webkit-transition: all 0.3s ease-in-out, box-shadow 0.1s ease;
            -moz-transition: all 0.3s ease-in-out, box-shadow 0.1s ease;
            -o-transition: all 0.3s ease-in-out, box-shadow 0.1s ease;
            transition: all 0.3s ease-in-out, box-shadow 0.1s ease; }
            .gdpr_block > div label input[type=checkbox] + small:focus, .gdpr_block > div label input[type=checkbox] + small:active, .gdpr_block > div label input[type=radio] + small:focus, .gdpr_block > div label input[type=radio] + small:active {
              box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0), 0 0 0 15px rgba(0, 0, 0, 0.08); }
            .gdpr_block > div label input[type=checkbox] + small:before, .gdpr_block > div label input[type=radio] + small:before {
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              position: absolute;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              font-family: 'gd-icons';
              content: "\e934";
              speak: none;
              font-style: normal;
              font-variant: normal;
              text-transform: none;
              font-size: 12px;
              line-height: 1;
              color: #fff;
              z-index: 1;
              font-weight: 700;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              opacity: 0; }
          .gdpr_block > div label input[type=checkbox]:checked + small, .gdpr_block > div label input[type=radio]:checked + small {
            border-color: #24a0d1;
            background: #24a0d1;
            color: #fff; }
            .gdpr_block > div label input[type=checkbox]:checked + small:focus, .gdpr_block > div label input[type=checkbox]:checked + small:active, .gdpr_block > div label input[type=radio]:checked + small:focus, .gdpr_block > div label input[type=radio]:checked + small:active {
              box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0), 0 0 0 15px rgba(36, 160, 209, 0.1); }
            .gdpr_block > div label input[type=checkbox]:checked + small:before, .gdpr_block > div label input[type=radio]:checked + small:before {
              opacity: 1; }
  .gdpr_block .gdpr_terms_offer_popover {
    left: 0;
    right: 0;
    bottom: 100%;
    top: auto;
    width: auto;
    color: #fff;
    font-weight: 300;
    position: absolute;
    padding-bottom: 10px;
    font-size: 14px;
    max-width: 100%;
    background: none;
    line-height: 1.42857;
    font-family: "Lato", "Roboto", sans-serif;
    z-index: 10; }
    .gdpr_block .gdpr_terms_offer_popover:before {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      content: "";
      border-left: 9px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #333;
      bottom: 2px; }
    .gdpr_block .gdpr_terms_offer_popover ::-webkit-scrollbar {
      background-color: #333; }
    .gdpr_block .gdpr_terms_offer_popover ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      border-radius: 6px; }
    .gdpr_block .gdpr_terms_offer_popover .gdpr_terms_offer_popover_wrapper {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      background: #333; }
      .gdpr_block .gdpr_terms_offer_popover .gdpr_terms_offer_popover_wrapper .popover_content {
        max-height: 400px;
        overflow-y: auto;
        padding: 20px 40px 20px 20px; }
        .gdpr_block .gdpr_terms_offer_popover .gdpr_terms_offer_popover_wrapper .popover_content::-webkit-scrollbar {
          background-color: #333; }
        .gdpr_block .gdpr_terms_offer_popover .gdpr_terms_offer_popover_wrapper .popover_content::-webkit-scrollbar-thumb {
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          border-radius: 6px; }
        .gdpr_block .gdpr_terms_offer_popover .gdpr_terms_offer_popover_wrapper .popover_content.w_nopadding {
          padding-right: 20px; }
          .gdpr_block .gdpr_terms_offer_popover .gdpr_terms_offer_popover_wrapper .popover_content.w_nopadding + .gdpr_popover_close {
            display: none; }
    .gdpr_block .gdpr_terms_offer_popover .gdpr_popover_close {
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 14px;
      height: 18px;
      line-height: 18px;
      font-size: 24px;
      text-align: right;
      font-weight: 700; }
      .gdpr_block .gdpr_terms_offer_popover .gdpr_popover_close, .gdpr_block .gdpr_terms_offer_popover .gdpr_popover_close:focus {
        color: #fff;
        text-decoration: none; }
        .gdpr_block .gdpr_terms_offer_popover .gdpr_popover_close:hover, .gdpr_block .gdpr_terms_offer_popover .gdpr_popover_close:focus:hover {
          color: #fff;
          text-decoration: none; }

@media (max-width: 930px) {
  .arrow_when,
  .arrow_who {
    display: none; } }
@media (max-width: 600px) {
  .form-group.form-group_2_inline > .form-group {
    float: none !important;
    width: 100%; }
    .form-group.form-group_2_inline > .form-group:nth-of-type(1) {
      margin-bottom: 20px; }

  .btn_register {
    font-size: 20px;
    padding: 20px 30px; }
    .btn_register > span {
      position: relative;
      display: inline-block;
      padding-right: 30px;
      margin-right: -30px; }
      .btn_register > span > i {
        top: 3px; }

  .modal-header {
    margin: 0 20px; }
    .modal-header .close {
      right: -20px; }
    .modal-header h4 {
      font-size: 24px; }

  .modal-body {
    padding-left: 20px;
    padding-right: 20px; } }

/*# sourceMappingURL=external_modals.css.map */
